@import '../../assets/main.scss';


.small {
    width: 30%;
}

.medium {
    width: 50%;
}

.large {
    width: 80%;
}

.full {
    width: 100%;
}

.red {
    background-color: $maincolor;
}

button.red {
    border: none;
    display: block;
    padding: 3% 4% ;
    border-radius: 50%;
    color: $white;
}